.mypy_cache
temp/*
data_storage/*
.venv/*
.venv
.vscode/
.venv/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class