# Directories
.mypy_cache
data_storage/*
.vscode/
.venv/
dev_area/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
